*.pkl
*.jpg
.DS_Store
__pycache__/
cache/
data/coco/PythonAPI/pycocotools/__pycache__/
data/coco/PythonAPI/pycocotools/_mask.cpython-36m-x86_64-linux-gnu.so
db/__pycache__/
external/__pycache__/
help-dummy.o
models/.DS_Store
models/__pycache__/
models/py_utils/.DS_Store
models/py_utils/DCNv2/.DS_Store
models/py_utils/__pycache__/
models/py_utils/_cpools/.DS_Store
models/py_utils/_cpools/__pycache__/
models/py_utils/hr_squeeze_net_backbone.py
models/py_utils/hrnet32_backbone.py
myresults/
nnet/719_py_factory.py
nnet/__pycache__/
sample/__pycache__/
test/__pycache__/
test_cv2.py
test_load.py
test_train_719.py
utils/__pycache__/
